<html>
<head>
  <title>Trion :: <%= @server_name %></title>
</head>
<body>
  Welcome to <a href="http://tfwiki.net/wiki/<%= @server_name %>" target="_blank"><%= @server_name %></a>, a <a href="https://github.com/JAnderton/trion-cookbooks" target="_blank">trion grade server</a> run by <a href="https://karun.me" target="_blank">Karun Japhet</a>.
</body>
</html>
